<div style="position: relative;"> 
<h1 >Zamówienie</h1>
					<span class="label label-success" ng-show="order.status == 'open'">{{ order.status }}</span>
					<span class="label label-warning" ng-show="order.status == 'locked'">{{ order.status }}</span>
					<span class="label label-danger" ng-show="order.status == 'ordered'">{{ order.status }}</span>
<span ng-show="order.owner" style="color: #808080; font-style: italic;" >stworzone przez <strong>{{ order.owner }}</strong> w chwili {{ order.date | date: 'dd/MM/yyyy HH:mm'}}</span>
</div>

<hr />

<div class="form-group" ng-show="order.status == 'open'">

    <label>Pizzeria</label>

    <div class="input-group">

        <input class='form-control input-lg' type="text" ng-model="order.pizzeria" placeholder="Nazwa pizzerii"/>

          <span class="input-group-btn">
            <button class="btn btn-success btn-lg" ng-click="updateOrder()" ng-disabled="!order.pizzeria">
                Ustaw pizzerie
            </button>
          </span>
    </div>
</div>

<div class="form-group" ng-show="order.status == 'open'">

    <label>Nowa pizza</label>

    <div class="input-group">

        <input class='form-control input-lg' type="text" ng-model="newPizzaName" placeholder="Nazwa pizzy"/>

          <span class="input-group-btn">
            <button class="btn btn-success btn-lg" ng-click="addPizza(newPizzaName)" ng-disabled="!newPizzaName">
                <span class="glyphicon glyphicon-plus"></span> Dodaj pizze
            </button>
          </span>
    </div>
</div>

<hr ng-show="order.status != 'ordered'"/>

<div class="pizzas">
    <!-- todo error jak sie wyawli-->
    <div class="pizza well" ng-repeat="pizza in order.pizzas track by $index " ng-if="pizza && pizza.name"
         ng-class="{'pizza-success': pizzaIsEaten(pizza)}">
        <h3>{{ pizza.name }}
            <button class="btn btn-danger btn-xs delete" ng-click="removePizza(pizza)" ng-show="order.status == 'open'">
                x
            </button>
        </h3>
        <nvd3-pie-chart interactive="true" objectequality="true" data="pizza.pieces" width="400" height="400"
                        x="xFunction()" y="yFunction()"
                        showlabels="true" color="colorFunction()">
        </nvd3-pie-chart>
    </div>
    <div class="clearfix"></div>
</div>

<hr />

<div class="row">

    <div class="col-lg-6">
    </div>
    <div class="col-lg-6" style="text-align: right;">
        <div class="input-group" ng-show="order.status == 'locked'">
          <span class="input-group-btn">
            <button class="btn btn-success btn-lg" ng-click="markOrdered()">Oznacz jako zamówione</button>
          </span>

            <input class='form-control input-lg' id="exampleInput" name="input" ng-model="minutesToDelivery"
                   ng-show="order.status == 'locked'" required/> <span class="input-group-addon">minutes left</span>
                   
        </div>

        <button class="btn btn-success btn-lg" ng-click="lockOrder()" ng-show="order.status == 'open'" ng-disabled="!order.pizzas || order.pizzas.length == 0">Zablokuj zamówienie</button>

    </div>
</div>


<hr ng-show="order.status != 'ordered'"/>

<h1 style="margin-bottom: 30px;">Podsumowanie</h1>
<div class="form-group"style="padding-bottom: 20px;">

    <label>Łączna cena</label>

    <div class="input-group">

        <input class='form-control input-lg' type="text" ng-model="order.price" placeholder="Łączna cena"/>

          <span class="input-group-btn">
            <button class="btn btn-success btn-lg" ng-click="updatePrice()" ng-disabled="!order.price">Zapisz cenę</button>
          </span>
    </div>
</div>
<div>

<h4>Cena całkowita: <strong>{{ price }} zł</strong>, cena za kawałek: <strong>{{ pricePerPiece }} zł</strong></h4>
    <table class="table">
        <tr ng-repeat="item in summary">
            <td>{{ item.person }}: {{ item.number }} kawałki <span ng-show="{{ price }}">= {{ item.price }} zł</span></td>
        </tr>
    </table>

    <div ng-if="showMap()">
    	<h2>Pizza zostanie dostarczona za 
    		<timer countdown="timeToDelivery()" max-time-unit="'minute'" interval="1000">
    			<strong>{{mminutes}} minut{{minuteS}}, {{sseconds}} sekund{{sekundS}}.</strong>
    		</timer> 
    	</h2>
    	<div id="controls">
      		<button class='btn btn-success btn-lg' ng-click="start()">Gdzie jest moja pica ?</button>
    	</div>
    </div>
    <hr/>
    <div ng-show="showMap()" style="width: 700px; height: 500px">
    	<div id="map" style="width: 700px; height: 500px"></div>
	</div>

<div ng-show="pizzaDelivered()">
	<h2>Pizza dostarczona!</h2>
</div>
    
</div>
