<h1>order</h1>

<div class="pizzas">


    <!-- todo error jak sie wyawli-->
    <div ng-repeat="pizza in order.pizzas track by $index " ng-if="pizza && pizza.name">
        {{ pizza.name }}
        {{ pizza.pieces }}

        <button ng-click="addPiece(pizza)" >weź kawałek</button>
        <button ng-click="removePiece(pizza)" ng-show="order.status == 'open'">usuń kawałek</button>
        <button ng-click="removePizza(pizza)" ng-show="order.status == 'open'">usuń pizze</button>

    </div>

    <div>
        <input type="text" ng-model="newPizzaName" placeholder="Nazwa pizzy"/>
        <button ng-click="addPizza(newPizzaName)" ng-show="order.status == 'open'">dodaj pizze</button>
    </div>

    <div>
        <label>Łączna cena</label>
        <input type="text" ng-model="order.price" placeholder="Łączna cena"/>
        <button ng-click="updatePrice()">Zapisz cenę</button>
    </div>


<button ng-click="lockOrder()" ng-show="order.status == 'open'">Lock order</button>
<button ng-click="markOrdered()" ng-show="order.status == 'locked'">Mark as ordered</button>
<input type="time" id="exampleInput" name="input" ng-model="order.deliveryTime" ng-show="order.status == 'locked'"
       placeholder="HH:mm" min="08:00" max="17:00" required />




</div>

