Total price: {{ price }} zł, price per piece: {{ pricePerPiece }} zł
<table>
	<tr ng-repeat="item in summary">
		<td>{{ item.person }}: {{ item.number }} = {{ item.price }} zł</td>
	</tr>
</table>

    
    <div id="controls">
     <form>
      Enter start and end addresses.<br />
      <input type="text" size="80" maxlength="200" id="startpoint" value="Briarcrest Rd, 90046" /><br />
      <input type="text" size="80" maxlength="200" id="endpoint" value="Hollywood Hills Rd, 90046@34.11327,-118.39089" /><br />
      <button ng-click="start()">Start</button>
     </form>
    </div>

    <div id="map" style="width: 700px; height: 500px"></div>
    <div id="step">&nbsp;</div>
    <div id="distance">Miles: 0.00</div>


    <script type="text/javascript">
    //<![CDATA[


    // This Javascript is based on code provided by the
    // Community Church Javascript Team
    // http://www.bisphamchurch.org.uk/   
    // http://econym.org.uk/gmap/

    //]]>
    </script>