<button type="button" class="btn btn-success" ng-click="addNew()" style="margin-bottom: 20px; margin-top: 20px;">
    <span class="glyphicon glyphicon-plus"></span> Dodaj zamówienie
</button>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Data</th>
			<th>Pizzeria</th>
			<th>Status</th>
			<th>Twórca</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(key, order) in orders" ng-click="go(key)" style="cursor:pointer">
				<td>{{ order.date | date: 'dd/MM/yyyy hh:mm'}}</td>
				<td>{{ order.pizzeria }}</td>
				<td>
					<span class="label label-success" ng-show="order.status == 'open'">{{ order.status }}</span>
					<span class="label label-warning" ng-show="order.status == 'locked'">{{ order.status }}</span>
					<span class="label label-danger" ng-show="order.status == 'ordered'">{{ order.status }}</span>
				</td>
				<td>{{ order.owner }}</td>
		</tr>
	</tbody>
</table>
